* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    scroll-behavior: smooth;
    -webkit-transition: all 2s;
    transition: all 2s;
}
body{
    -webkit-text-size-adjust: none;
    /* -webkit-font-smoothing: subpixel-antialiased; */
    font-size: 21px;
    font-weight: 400;
    font-family: "Garamond", serif;
    font-style: normal;
    line-height: 1.61538;
    color: #888;
}
a {
    color: #111111;
}
a:hover {
    color: #1a1a1a;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #000;
    font-family: 'EB Garamond', serif;
}

/* -------------------NavBar------------------- */
.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px; /* height*/
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    color:#111111a1;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;    
}

/* -------------HERO----------------- */

.hero{
    background: url("../images/hero.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 260px 0;
}
.hero .container {
    z-index: 1;
    position: relative;
}
.has-overlay:after{
   display: block;
   position: absolute;
   background-image:linear-gradient(to bottom ,rgba(0, 0, 0, 0.55) 0, #00000008 100%);
   height: 100%;
   width: 100%;
   top:0;
   left:0;
   content:'';
}
.primary-btn {
    background-color: #9c856e;
    color: #ffffff;
}
.primary-btn:hover {
    color: #ffffff;
    background-color:  #FF3E2F;
    border: 1px solid  #FF3E2F;
}

